/*全局属性*/
*{
	margin: 0;
	padding: 0;
}
a{
	/*color: #B900FF;*/
	color: #58a6fb;
	text-decoration: none;
}


/* - 侧边栏 */
.sidebar{
	top: 0;
	left: 0;
	bottom: 0;
	color: #fff;
	width: 250px;
	position: fixed;
	overflow: hidden;
	overflow-y: auto;
	background: #343d46df;
}

/* -- 头像 */
.sidebar .kent{
	width: 120px;
	height: 120px;
	margin: 2em auto;
	background: #fff;
	border-radius: 50%;
	border: #ddd 3px solid;
	transition: transform 0.5s;
}
.sidebar .kent:hover{
	transform: rotate(1turn);
}
.sidebar .kent img{
	border-radius: 100%;
	width: 120px;
	height: 120px;
}

/* -- 侧边栏导航 */
.sidebar .nav{
	margin: 0;
	display: flex;
	list-style: none;
	flex-direction: column;
}
.sidebar .nav a{
	color: #fff;
	padding: 1em;
	display: block;
	text-align: center;
	transition: background .3s, box-shadow .3s;
}
.sidebar .nav a:hover{
	background: rgba(0, 0, 0, .2);
}
.itip{
	position: absolute;
	font-size: 12px;
	width: auto;
	min-width: 6px;
	height: 20px;
	padding: 0px 9px 0px 5px;
	margin: 0px 0px 0px 5px;
	text-align: center;
	line-height: 20px; 
	border-radius: 10px;
	background: #CC0000;
}
.hide{
	display: none;
}
/*.nav a:nth-child(1) i:after{
	content:"更新";
}
.nav a[href="#skill"] i:after{
	content:"更新";
}
.nav a[href="#work"] i:after{
	content:"更新";
}
.nav a[href="#resource"] i:after{
	content:"更新";
}
.nav a[href="#stamp"] i:after{
	content:"更新";
}*/

/*主区块main*/

.wrap{
	margin-left:auto;
	margin-right: auto;
	max-width: 1000px;
	box-sizing: content-box;
	padding: 0px 10px;
}
.mainpart {
	margin-left: 250px;
	background: #f7f7f7;

}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 16px;
	font-size: 28px;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child{
	margin-bottom: 0;
}
section{
	padding: 80px 0;
}
.row{
	display: flex;
	flex-wrap: wrap;
	/*margin-left: -1.25em;*/
	/*margin-right: -1.25em;*/
}
.col-l-4{
	-ms-flex: 0 0 33%;
	flex: 0 0 33%;
	max-width: 33%;
}

/*几个模块的颜色设置*/
#info{
	background: #343d46;
	color: #fff;
}
#skill{
	background: #f7f7f7;
}
#work{
	background: #f8bd24;
	color: #fff;
}
#resource{
	background: #f7f7f7;
}
#stamp{
	background: #3a3d49;
	color: #fff;
}

/*个人资料的间距*/
#info p{
	padding: 10px;
}
/*链接hover*/
#info a:hover{
	color: #fff;
	background: #58a6fb;
}
#stamp a:hover{
	text-decoration: underline;
}


/*@media screen and (max-width: 900px) {
	.sidebar {
		width: inherit;
		position: relative;
	}
	.sidebar .nav{
		background: #f8bd24;
		flex-direction: row;
		justify-timestamp: center;
	}
	.sidebar .nav a:hover{
		background: none;
		box-shadow: 0 -3px 0 #fff inset;
	}
	main{
		margin-left: 0;
	}
}*/


.timestamp{
	position:relative;
	margin:0 auto;
}
.timestamp{
	width:100%;
	min-height:740px;/*限制高度*/
}
.stampbg{
	position:relative;
	background:url("../img/release-bg.png") repeat-y right top;
	/*width:960px;*/
	margin:0 auto;
}
.stampbg:first-child .close h2 i{
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg)
}
.stampbg:first-child .close .list{
	opacity:0;
	height:0 !important;
}
.light{
	position:absolute;
	left:55px;
	top:-50px;
	width:152px;
	height:191px;
	background:url("../img/light-top.png") no-repeat top center;
}
.light i{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	background:url("../img/light.png") no-repeat top center;
}
.line-left{
	position:absolute;
	left:0;
	top:18px;
	width:60px;
}
.line-right{
	position:absolute;
	left: 390px;
	top:18px;
	width:560px;
}
.listwrap{
	background:url("../img/line-bg.png") repeat-y 249px 0;
}
.timetitle{
	position:absolute;
	line-height:40px;
	padding-left:67px;
	left:230px;
	top:0;
	color:#58a6fb;
	font-size:24px;
	background:url("../img/clock.png") no-repeat left top;
}
.worklist{
	position:relative;
	z-index:100;
}
.worklist h2{
	height:40px;
	width:170px;
	padding-right:30px;
	font-size:24px;
	line-height:40px;
	text-align:right;
}
.worklist h2 a{
	color: #59a7fb;
}
.worklist h2:hover{
	color: #59a7fb;
	text-decoration: underline;
}
.worklist h2 i{
	display:block;
	position:relative;
	height:0;
	width:0;
	left:190px;
	top:-20px;
	border-width:6px;
	border-style:solid;
	border-color:#59a7fb transparent transparent transparent;
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;transition:.5s;
	-webkit-transform-origin:6px 3px;
	-moz-transform-origin:6px 3px;
	-ms-transform-origin:6px 3px;
	-o-transform-origin:6px 3px;
	transform-origin:6px 3px;
}
.list{
	margin:10px 0;
	position:relative;
	overflow:hidden;
	-webkit-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
	-moz-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
	-ms-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
	-o-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
	transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
}
.list ul{
	bottom:0;
}
.list ul li{
	background:url("../img/circle.png") no-repeat 235px 30px;
	padding:30px 0;
	color:#a1a4b8;
}
.list ul li.highlight{
	background-image:url("../img/circle-h.png") ;
}
.cls{
	zoom:1;
}
.cls:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.list ul li.highlight .date, 
.list ul li.highlight .title{
	color:#ec6a13;
}
.list ul li .date,
.list ul li .version{
	float:left;
	display:block;
	clear:left;
	width:200px;
	line-height:24px;
	text-align:right
}
.list ul li .date{
	font-size:18px;
	line-height:32px;
	color:#bec1d5;
}
.list ul li .title, 
.list ul li .description{
	float:left;
	display:block;
	width:400px;
	margin-left:100px;
	line-height:24px;
}
.list ul li .version,
.list ul li .description p{
	font-size: 12px;
}
.list ul li .title{
	font-size:18px;
	line-height:32px;
	color:#63d029;
}
